
*.dll
*.config
.idea/.idea.rateit.dir/.idea/.name
Backend/
.idea/
Avatars/
*.zip
*.json
*.exe
*.pdb
*.user
*.cs
*.cache
*.CopyComplete
*.txt
*.editorconfig
*.props
*.targets
*.info
*.sentinel
bin/Debug/net6.0/Avatars
SqlConnection
