.idea
*.dll
*.config
.idea/.idea.rateit.dir/.idea/.name
.idea/
Avatars/
*.zip
*.json
*.exe
*.pdb
*.user
*.cache
*.CopyComplete
*.txt
*.editorconfig
*.props
*.targets
*.info
*.sentinel
bin/Debug/net6.0/Avatars
bin/
/bin
/obj
obj/
.vs

SqlConnection
